# Exercise 2.1

Complete the function that calculates the similarities of all texts in the dataframe

In [2]:
import pandas as pd
import numpy as np
from difflib import SequenceMatcher

In [3]:
data = pd.read_csv('E2-Data.csv', sep=';', encoding='ISO-8859-1').dropna()
data

,Text,Undergrad,Semester,Age,Company
0,Uno de los criterios más importantes en la sel...,Ingeniería de sistemas,4.0,46.0,ETB
1,"Actualmente para las empresas, los científicos...",Administración de empresas,2.0,38.0,Interactivo contact center sa
2,Dos de las principales razones por las que a p...,Economía,2.0,29.0,Bancamía
3,Differences of a Data Scientist and a Data Eng...,Administración de empresas,2.0,25.0,Universidad de los andes
4,Existen diferencias significativas en el perfi...,Ingeniería industrial,2.0,25.0,Mullen lowe SSP3
5,El ingeniero de datos es un profesional dedica...,Estadística,4.0,33.0,Nielsen
7,"En términos de costo, SAS es un software comer...",Ingeniería de sistemas,2.0,30.0,Telefónica
8,Las diferencias de un científico de datos y un...,Estadística,2.0,34.0,Icfes
9,Siendo dos grandes software's de analítica los...,Estadística,2.0,33.0,Campus BBVA
10,Entre los programas más populares para realiza...,Economía,2.0,25.0,Servicio geológico colombiano
12,"Hoy en día, es común en las empresas y grandes...",Ingeniería de sistemas,4.0,29.0,Directv
13,Los algoritmos de Machine Learning tienen como...,Ingeniería industrial,2.0,26.0,Rollup consulting sa
14,Diferencia entre Data Engineer y Data Scientis...,Ingeniería industrial,2.0,26.0,Meals de Colombia sas
15,Un ingeniero de datos es la persona que se enc...,Ingeniería electrónica,2.0,28.0,Colombia telecomunicaciones sa esp
16,Data Engineer vs Data Scientist A data Enginee...,Ingeniería industrial,2.0,24.0,Havas media
17,Diferencias entre los científicos de datos y l...,Ingeniería industrial,2.0,27.0,El tiempo casa editorial
18,Limitaciones de los algoritmos de machine lear...,Ingeniería industrial,2.0,26.0,Banco de Bogotá
19,Diferencia entre un Científico de Datos y un I...,Estadística,2.0,44.0,Comestibles ricos
20,Ingenieros de datos vs científicos de datos. U...,Administración de empresas,2.0,26.0,Mercadoni
21,Python vs R vs SAS for Data Science. Cuando se...,Ingeniería eléctrica,2.0,24.0,Empresa de energía del Quindio
22,Python vs R Analytics ha tenido una tendencia ...,Ingeniería de mercados,2.0,23.0,SKBERGE Colombia
23,Data Scientist y Data Engineer son dos profesi...,Ingeniería eléctrica,2.0,25.0,Schlumberger surenco sa
24,Diferencia entre un científico de datos y un i...,Estadística,2.0,31.0,Alcaldía de Santiago de Cali
25,El duelo entre Data Engineer vs Data Scientist...,Ingeniería de sistemas,4.0,31.0,Uniminuto
26,Los data scientist y data engineers están embe...,Ingeniería industrial,2.0,25.0,Uber
27,Para la mayoría de las personas son roles que ...,Ingeniería electrónica,2.0,41.0,Movistar
28,Python vs Stata. Analizar información es un pr...,Economía,2.0,25.0,Secretaría de la mujer y equidad de género
29,"Cuando se habla de un Data Engineer, se consid...",Ingeniería industrial,2.0,29.0,Fundación universitaria de ciencias de la salud
30,Diferencias entre un Científico de datos y un ...,Ingeniería eléctrica,2.0,34.0,Codensa sa
31,Un ingeniero de datos es quien se encarga de l...,Ingeniería electrónica,2.0,33.0,RBM Redeban multicolor sa
32,Aunque los dos perfiles cuentan con habilidade...,Ingeniería de sistemas,2.0,34.0,Ecopetrol
33,Machine Learning es un método de análisis de i...,Economía,2.0,27.0,Avianca
34,Python vs R para análisis de datos. A pesar de...,Ingeniería de telecomunicaciones,2.0,31.0,Codensa sa esp
35,Aunque un científico de datos y un ingeniero d...,Ingeniería electrónica,2.0,26.0,Everis Colombia
36,Los ingenieros de datos tienen como responsabi...,Ingeniería de sistemas,2.0,30.0,Ernst & young
37,Por un lado los ingenieros de datos se centra...,Ingeniería de sistemas,4.0,27.0,Heel Colombia
38,La ciencia de datos ha evolucionado mucho a tr...,Economía,2.0,24.0,Aon Benbenfield corredores de reaseguros
39,Diferencias de un científico de datos y un ing...,Ingeniería de sistemas,2.0,30.0,Banco caja social
40,La diferencia entre un data scientist y un dat...,Economía,2.0,24.0,Departamento nacional de planeación
41,Pese a que la ciencia de datos y la ingeniería...,Economía,2.0,24.0,Comestibles ricos sa
42,Las diferencias de un científico de datos y un...,Economía,2.0,30.0,Banco de la república
43,Diferencias entre un científico de datos y un ...,Economía,2.0,27.0,Departamento nacional de planeación

In [11]:
def similarity(data):
    
    #Comparing two strings, and considering blanks to be "junk"
    results = [round(SequenceMatcher(lambda x: x == " ", i, j).ratio(),2) for i in data['Text'] for j in data['Text']]
    #Convert the result to a Pandas Dataframe
    results = pd.DataFrame(np.array(results).reshape(data.shape[0],data.shape[0]), index=data.index, columns=data.index)
    
    assert results.shape == (data.shape[0], data.shape[0])
    
    return results

In [16]:
#Run the function to find similarities between the text in the dataframe
similarity(data)

,0,1,2,3,4,5,7,8,9,10,...,34,35,36,37,38,39,40,41,42,43
0,1.00,0.03,0.02,0.02,0.02,0.00,0.02,0.02,0.04,0.04,...,0.02,0.01,0.02,0.02,0.02,0.02,0.03,0.04,0.02,0.02
1,0.01,1.00,0.02,0.01,0.01,0.05,0.00,0.05,0.03,0.01,...,0.01,0.04,0.05,0.07,0.01,0.06,0.03,0.07,0.01,0.08
2,0.06,0.02,1.00,0.02,0.02,0.00,0.04,0.01,0.05,0.06,...,0.02,0.01,0.02,0.01,0.01,0.02,0.02,0.02,0.02,0.02
3,0.01,0.10,0.02,1.00,0.01,0.06,0.01,0.07,0.02,0.01,...,0.02,0.07,0.02,0.10,0.01,0.07,0.02,0.06,0.01,0.08
4,0.00,0.04,0.01,0.02,1.00,0.04,0.01,0.00,0.02,0.01,...,0.01,0.05,0.04,0.04,0.03,0.06,0.01,0.02,0.01,0.05
5,0.02,0.05,0.01,0.02,0.01,1.00,0.01,0.03,0.03,0.01,...,0.02,0.05,0.04,0.08,0.01,0.06,0.02,0.04,0.09,0.06
7,0.05,0.01,0.03,0.01,0.01,0.00,1.00,0.01,0.05,0.04,...,0.02,0.00,0.01,0.01,0.02,0.01,0.02,0.01,0.00,0.01
8,0.02,0.05,0.01,0.04,0.00,0.03,0.01,1.00,0.03,0.01,...,0.01,0.09,0.03,0.03,0.03,0.07,0.03,0.04,0.05,0.04
9,0.03,0.04,0.04,0.02,0.01,0.02,0.02,0.02,1.00,0.03,...,0.03,0.02,0.04,0.04,0.02,0.02,0.02,0.02,0.01,0.03
10,0.04,0.01,0.04,0.02,0.02,0.01,0.03,0.01,0.05,1.00,...,0.02,0.01,0.02,0.02,0.02,0.02,0.03,0.01,0.01,0.02
12,0.02,0.01,0.00,0.01,0.02,0.01,0.01,0.06,0.02,0.02,...,0.02,0.01,0.02,0.01,0.01,0.02,0.02,0.03,0.02,0.03
13,0.01,0.01,0.03,0.02,0.00,0.02,0.01,0.01,0.03,0.01,...,0.00,0.01,0.02,0.01,0.02,0.01,0.02,0.01,0.01,0.02
14,0.02,0.02,0.02,0.02,0.02,0.00,0.02,0.01,0.02,0.03,...,0.02,0.01,0.02,0.01,0.02,0.02,0.02,0.00,0.00,0.01
15,0.04,0.06,0.02,0.02,0.04,0.04,0.01,0.03,0.03,0.02,...,0.02,0.06,0.06,0.06,0.02,0.06,0.02,0.05,0.03,0.02
16,0.01,0.01,0.01,0.01,0.01,0.00,0.01,0.01,0.01,0.01,...,0.01,0.00,0.01,0.02,0.01,0.01,0.01,0.00,0.00,0.01
17,0.01,0.10,0.01,0.04,0.02,0.05,0.00,0.06,0.02,0.01,...,0.03,0.06,0.06,0.09,0.01,0.08,0.01,0.07,0.02,0.07
18,0.01,0.01,0.02,0.02,0.00,0.01,0.00,0.01,0.02,0.02,...,0.01,0.01,0.01,0.01,0.02,0.01,0.02,0.01,0.02,0.01
19,0.01,0.03,0.02,0.02,0.04,0.05,0.01,0.05,0.02,0.01,...,0.01,0.06,0.04,0.05,0.01,0.05,0.01,0.04,0.01,0.05
20,0.02,0.07,0.00,0.02,0.04,0.05,0.00,0.04,0.03,0.03,...,0.02,0.08,0.05,0.07,0.02,0.06,0.03,0.05,0.01,0.07
21,0.05,0.00,0.03,0.00,0.02,0.00,0.04,0.01,0.03,0.04,...,0.03,0.01,0.02,0.01,0.02,0.01,0.02,0.01,0.00,0.02
22,0.03,0.02,0.01,0.00,0.01,0.02,0.02,0.01,0.02,0.04,...,0.02,0.02,0.02,0.03,0.02,0.02,0.02,0.01,0.00,0.02
23,0.03,0.02,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.02,...,0.02,0.03,0.03,0.02,0.01,0.01,0.01,0.02,0.01,0.02
24,0.02,0.04,0.02,0.05,0.03,0.03,0.01,0.14,0.03,0.02,...,0.02,0.10,0.04,0.04,0.01,0.08,0.02,0.06,0.03,0.06
25,0.01,0.01,0.02,0.01,0.03,0.01,0.01,0.01,0.03,0.01,...,0.02,0.02,0.05,0.03,0.02,0.01,0.01,0.02,0.01,0.01
26,0.01,0.02,0.01,0.02,0.00,0.03,0.00,0.02,0.01,0.01,...,0.01,0.02,0.03,0.02,0.00,0.02,0.02,0.02,0.01,0.02
27,0.02,0.03,0.01,0.00,0.01,0.01,0.00,0.01,0.04,0.01,...,0.01,0.01,0.01,0.02,0.02,0.01,0.03,0.01,0.01,0.02
28,0.04,0.01,0.02,0.00,0.02,0.00,0.02,0.01,0.02,0.05,...,0.02,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.00,0.01
29,0.02,0.04,0.02,0.01,0.01,0.04,0.02,0.05,0.02,0.02,...,0.02,0.07,0.05,0.04,0.01,0.05,0.01,0.06,0.01,0.05
30,0.02,0.04,0.02,0.03,0.04,0.04,0.00,0.05,0.03,0.01,...,0.01,0.08,0.04,0.06,0.01,0.07,0.03,0.04,0.01,0.07
31,0.03,0.03,0.01,0.02,0.02,0.04,0.02,0.04,0.03,0.02,...,0.01,0.05,0.05,0.06,0.02,0.05,0.03,0.05,0.02,0.04
32,0.01,0.02,0.02,0.01,0.01,0.02,0.02,0.01,0.01,0.01,...,0.02,0.02,0.01,0.02,0.01,0.03,0.00,0.01,0.01,0.01
33,0.00,0.00,0.01,0.02,0.02,0.02,0.01,0.01,0.02,0.01,...,0.01,0.02,0.02,0.01,0.02,0.01,0.01,0.00,0.02,0.03
34,0.04,0.00,0.03,0.02,0.02,0.01,0.04,0.01,0.04,0.06,...,1.00,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.00,0.00
35,0.02,0.06,0.02,0.03,0.02,0.04,0.02,0.10,0.02,0.01,...,0.01,1.00,0.04,0.06,0.02,0.06,0.03,0.06,0.06,0.06
36,0.02,0.06,0.02,0.03,0.05,0.04,0.01,0.02,0.03,0.02,...,0.01,0.06,1.00,0.07,0.01,0.04,0.02,0.06,0.03,0.04
37,0.03,0.06,0.02,0.06,0.04,0.06,0.01,0.02,0.04,0.01,...,0.02,0.04,0.05,1.00,0.02,0.05,0.03,0.07,0.04,0.06
38,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.02,0.03,0.01,...,0.01,0.00,0.01,0.01,1.00,0.01,0.02,0.00,0.01,0.01
39,0.01,0.08,0.02,0.05,0.03,0.06,0.01,0.06,0.01,0.01,...,0.02,0.07,0.04,0.06,0.01,1.00,0.02,0.04,0.01,0.09
40,0.01,0.04,0.02,0.03,0.02,0.01,0.01,0.02,0.04,0.03,...,0.02,0.01,0.01,0.01,0.03,0.02,1.00,0.01,0.01,0.03
41,0.01,0.06,0.01,0.02,0.01,0.04,0.01,0.04,0.03,0.02,...,0.01,0.05,0.06,0.05,0.00,0.05,0.01,1.00,0.03,0.04
42,0.01,0.06,0.01,0.04,0.01,0.07,0.00,0.05,0.02,0.01,...,0.01,0.04,0.02,0.04,0.00,0.05,0.01,0.02,1.00,0.08
43,0.02,0.06,0.01,0.04,0.02,0.04,0.01,0.04,0.02,0.01,...,0.01,0.04,0.03,0.06,0.01,0.07,0.02,0.04,0.02,1.00

# Exercise 2.2

Calculate descriptive statistics of the dataset

- Pivot tables analyzing companies, universities, age and master semester.

In [6]:
print('Número de estudiantes por carrera y semestre')
data.pivot_table(values='Age', index='Undergrad',columns='Semester', aggfunc='count')

Número de estudiantes por carrera y semestre

Semester                          2.0  4.0
Undergrad
Administración de empresas        3.0  NaN
Economía                          9.0  NaN
Estadística                       4.0  1.0
Ingeniería de mercados            1.0  NaN
Ingeniería de sistemas            4.0  4.0
Ingeniería de telecomunicaciones  1.0  NaN
Ingeniería electrónica            4.0  NaN
Ingeniería eléctrica              3.0  NaN
Ingeniería industrial             8.0  NaN

In [7]:
print('Min, Max y Promedio de edad por semestre')
data.pivot_table(values='Age', index='Semester',  aggfunc=[min, max, np.mean])

Min, Max y Promedio de edad por semestre

           min   max      mean
           Age   Age       Age
Semester
2.0       23.0  44.0  28.72973
4.0       27.0  46.0  33.20000

In [8]:
print('Número de estudiantes por empresa y semestre')
data.pivot_table(values='Age', index='Company',columns='Semester', aggfunc='count')

Número de estudiantes por empresa y semestre

Semester                                         2.0  4.0
Company
Alcaldía de Santiago de Cali                     1.0  NaN
Aon Benbenfield corredores de reaseguros         1.0  NaN
Avianca                                          1.0  NaN
Bancamía                                         1.0  NaN
Banco caja social                                1.0  NaN
Banco de Bogotá                                  1.0  NaN
Banco de la república                            1.0  NaN
Campus BBVA                                      1.0  NaN
Codensa sa                                       1.0  NaN
Codensa sa esp                                   1.0  NaN
Colombia telecomunicaciones sa esp               1.0  NaN
Comestibles ricos                                1.0  NaN
Comestibles ricos sa                             1.0  NaN
Departamento nacional de planeación              2.0  NaN
Directv                                          NaN  1.0
ETB                                              NaN  1.0
Ecopetrol                                        1.0  NaN
El tiempo casa editorial                         1.0  NaN
Empresa de energía del Quindio                   1.0  NaN
Ernst & young                                    1.0  NaN
Everis Colombia                                  1.0  NaN
Fundación universitaria de ciencias de la salud  1.0  NaN
Havas media                                      1.0  NaN
Heel Colombia                                    NaN  1.0
Icfes                                            1.0  NaN
Interactivo contact center sa                    1.0  NaN
Meals de Colombia sas                            1.0  NaN
Mercadoni                                        1.0  NaN
Movistar                                         1.0  NaN
Mullen lowe SSP3                                 1.0  NaN
Nielsen                                          NaN  1.0
RBM Redeban multicolor sa                        1.0  NaN
Rollup consulting sa                             1.0  NaN
SKBERGE Colombia                                 1.0  NaN
Schlumberger surenco sa                          1.0  NaN
Secretaría de la mujer y equidad de género       1.0  NaN
Servicio geológico colombiano                    1.0  NaN
Telefónica                                       1.0  NaN
Uber                                             1.0  NaN
Uniminuto                                        NaN  1.0
Universidad de los andes                         1.0  NaN